
.logo {
  height: 60px;
  width: 100%;
  background: #84addb;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-weight: bold;
}

.logo_collapsed {
  height: 32px;
  margin: 16px;
  background: #84addb;
  
}

.siteLayout .siteLayoutBackground {
  background: #fff;
}
