span.medium {
    cursor: pointer;
    text-decoration: underline;
}

span.low {
    cursor: pointer;
    color: #f00;
    text-decoration: underline;
}

span.pii {
    text-decoration: line-through;
    color: #666;
    font-style: oblique;
}
